* {
    box-sizing: border-box;
    font-size: 12px;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

header {
    background-color: #423d3d;
}

#logo a {
    display: block;
    color: white;
    font-family: 'Lato', sans-serif cursive;
    text-decoration: none;
    font-size: 2em;
    padding: 20px;
    text-align: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav a {
    display: block;
    text-decoration: none;
    padding: 28px 15px;  /* /!\ préférez mettre les marges intérieures sur le lien plutôt que le li afin que lien soit plus facilement cliquable que l'effet de survol soit plus harmonieux */
    color: #FFF;
    text-transform: uppercase;   /* /!\ préférez text-transform : uppercase au fait de rédiger le contenu en majuscule */
}

header nav a:hover {
    background-color: #9e9898;
}

#toggle{
    display:none;
}
label{
    font-size:26px;
    margin-right:50px;
    display:none;
    color:#f4f4f4;
}

@media only screen and (max-width:768px) {
    label {
        display: block;
    }

    ul li a {
        display: block;
        text-align: center;
        margin: auto;
        border-bottom: 2px solid #fff;
    }

    ul {
        margin: auto;
        display: none;
    }

    #toggle:checked + ul {
        display: block;
    }

}


@media (min-width: 768px) {

    header {
        height: 500px;  /* /!\ il faut définir une hauteur au header car les éléments qu'il contient sont tous en float */
    }

    #logo {
        float: left;  /* /!\ préférez float: left pour garantir que les éléments soient en ligne mais ne se superposent pas si la fenêtre devient trop petite*/
    }

    #logo a {
        text-align: left;
        margin-left: 20px;
    }

    header nav {
        float: right;
        margin-right: 20px;
    }

    header nav li {
        display: inline-block;
    }

}

.sub-header {
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("img/wp3066969.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 170px 0;
}

.sub-header2 {
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("img/banner2.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 170px 0;
}

.font-1 {
    font-size: 50px;
}

.font-2{
    font-size: 20px;
}

.font-3 {
    font-size: 30px;
}

.font-4 {
    font-size: 20px;
}

.presentation {
    background-color: white;
    padding: 100px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

.gallerie {
    padding-bottom: 50px;
    text-align: center;
}

.i img {
    width: 300px;
    height: auto;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.tarif {
    background-color: darkgrey;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 2em 0;
    width: 100%;
}

table tbody tr {
    border-style: solid;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
}

table td {
    padding: 0.90em 0.90em;
}
.trwhite{
    background-color: #FFFFFF;
}

.contact{
    background-color: white;
    padding: 100px;
    text-align: center;
}
.info{
    text-align: center;
}

.sub-cta {
    font-weight: bold;
    background-color: #51baa4;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-size: .8em;
    margin-top: 20px;
    display: inline-block;
    border-radius: 3px;
}
input {
    border: lightgray solid 5px;
}

form input{
    border: lightgray solid 1px;
    padding: 15px;
    margin: 5px;
    width: 300px;
}

footer{
    text-align: center;
    width: 100%;
    height: 150px;
    background-color:black;
    padding-top: 50px;
}

footer p {
    color: white;
}

.social-link {
    background-color: white;
    margin: 0 3px;
    height: 30px;
    width: 30px;
    padding-top: 6px;
    border-radius: 50%;
    display: inline-block;
}

.social-link img {
    height: 16px;
}
